.grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr); /* 8 columns */
      grid-template-rows: repeat(8, 1fr);    /* 8 rows */
      width: 320px;
      height: 320px;
      border: 2px solid black;
      z-index: 1;
}

#overlay{
  z-index: 10;
  width: 320px;
  height: 320px;
}

.cell {
    border: 1px solid black;
    background: white;
    position: relative;
}

.cell.hover {
    outline: 3px solid blue;
}

.draggable {
    width: 38px;
    height: 38px;
    cursor: grab;
    z-index: 11;
}

.board-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

#overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

#space-maker{
  height: 100px;
  display: block;
  color: white;
  background-color: white;
}
