:root {
    --cell-size: 40px;
    --col-count: 8;
    --grid-dimension: calc(var(--cell-size) * var(--col-count));
    --grid-icon-size: calc(var(--cell-size) - 4px);
}

.grid {
      display: grid;
      grid-template-columns: repeat(var(--col-count), 1fr); /* 8 columns */
      grid-template-rows: repeat(var(--col-count), 1fr);    /* 8 rows */
      width: var(--grid-dimension);
      height: var(--grid-dimension);
      border: 2px solid black;
      z-index: 1;
}

#overlay{
  z-index: 10;
  width: var(--grid-dimension);
  height: var(--grid-dimension);
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.cell {
    border: 1px solid black;
    background: white;
    position: relative;
}

.cell.hover {
    outline: 3px solid blue;
}

.draggable {
    width: var(--grid-icon-size);
    height: var(--grid-icon-size);
    cursor: grab;
    z-index: 20;
    position: sticky;
}

.board-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}


