body {
  background-color: #f8f9fa;
}


#space-maker{
  height: 100px;
  display: block;
  color: #f8f9fa;
  background-color: #f8f9fa;
}

/**
  * ChatGPT generated code start
  */
.editable {
  display: inline-block;
  min-width: 4ch;
  outline: none;
  cursor: text;
}

.editable:focus {
  background: rgba(0,0,0,.05);
}
/**
  * ChatGPT generated code end
  */

#packet-data{
  width: 60%;
}

#target-ip{
  width: 60%;
}